MONGO_URI=mongodb+srv://Amaymishra1104:Amay1104@webpage.tnl4xud.mongodb.net/HireIQ?appName=webpage
PORT=5000
FRONTEND_URL=http://localhost:3000

# Production (Render) — use MongoDB Atlas connection string:
# MONGO_URI=MONGO_URI=mongodb+srv://Amaymishra1104:YOUR_PASSWORD@webpage.tnl4xud.mongodb.net/HireIQ?retryWrites=true&w=majority&appName=webpage
# FRONTEND_URL=https://ai-interview-platform-nr7v.vercel.app
